main {
    width: 940px;
    margin: 0 auto;
}

#container-main {
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    background-color: #CCCCCC;
    justify-content: center;
    width: 700px;
    margin: 40px auto;
}

#container-main h2 {
    margin: 0 0 30px;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

form {
    text-align: center;
    margin: 40px auto;
}

form label,
form p,
form legend {
    display: block;
    ;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao {
    font-size: 15px;
    border-radius: 5px;
    display: block;
    margin: 0 auto 20px;
    padding: 10px 3px;
    width: 50%;
}

.checkbox {
    margin: 20px 0;
}

select {
    font-size: 15px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
}

#radio-options {
    margin: 0 auto;
    width: 140px;
    text-align: left;
}

#submit-button {
    font-size: 20px;
    border: 1px solid black;
    padding: 5px;
    font-weight: bold;
    border-radius: 5px;
    transition: background .2s;
    background-color: #e4850a;
}

#submit-button:hover {
    background-color: #f0a441;
    cursor: pointer;
}

#submit-button:active {
    background-color: #5fc010;
    cursor: pointer;
}


/*Table*/

#table {
    display: flex;
    align-items: center;
    justify-content: center;
}

table {
    font-size: 20px;
    margin: 20px 0 40px;
    background-color: white;
}

thead {
    background: #555555;
    color: white;
    font-weight: bold;
}

td,
th {
    border: 1px solid #000000;
    padding: 8px 15px;
}