/*Cabeçalho*/

header {
    background-color: #BBBBBB;
    padding: 10px 0;
    border-bottom: 2px solid black;
}

.container {
    position: relative;
    width: 70%;
    margin: 0 auto;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav li a {
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    font-weight: bolder;
    font-size: 22px;
}

nav li a:hover {
    text-decoration: underline;
    color: #e4850a;
}

nav ul {
    position: absolute;
    top: 110px;
    right: 0;
    margin-right: 200px;
}


/*Main*/

.produtos {
    width: 70%;
    margin: 0 auto;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    padding: 50px 0;
    border: 2px solid black;
    border-radius: 10px;
    margin: 2% 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
}

.produtos li h2 {
    font-size: 30px;
    font-weight: bolder;
}

.preco {
    font-weight: bold;
    font-size: 22px;
    margin: 10px 0 0;
}

.descricao {
    font-size: 18px;
}

.produtos li:hover {
    border: 2px solid #e4850a;
    color: #e4850a;
}

.produtos li:active {
    border: 2px solid #5da500;
    color: #5da500;
}


/*Footer*/

footer {
    text-align: center;
    border-top: 2px solid black;
    padding: 40px 0;
    color: white;
    font-size: 12px;
    background-image: url(../Img/bg.jpg);
}

footer p {
    margin-top: 20px;
}